.mat-elevation-z8 {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

img {
  width: 30px;
  height: 30px;
}

.header {
  min-height: 64px;
  padding: 8px 24px 0;
  min-width: 250px;
  margin-left: auto;
}

.main-header {
  display: flex;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
